#profile{
    background-image: url("../img/profile-casino.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
}

#nombre-perfil {
    display: inline-block;
    /* background-color: black; */
    background-image: url("../img/moqueta.webp");
    color: whitesmoke;
    padding: 5px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid gold;
    -webkit-text-stroke: 1px black;
  }