/* root_style.css */
.rootnav {
    background-color: black;
    padding: 10px;
    border: 3px solid gold;
    border-style:double;
  }
  
  .rootli {
    display: inline-block;
    margin-right: 10px;
    padding: 10px  15px 10px 15px;
    border-radius: 20px;
    background-color: gold;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .rootli:last-child {
    margin-right: 0;
  }
  
  .rootli:hover {
    background-color: green;
  }
  
  #fichaRoja {
    width: 25px;
    height: auto;
  }
  
  .rootul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .roota {
    color: black;
    text-decoration: none;
  }
  
  .roota:hover {
    color: #ffc107;
  }

  @media only screen and (max-width: 390px) {
    .rootli{
      width: 45%;
      margin-top: 2%;
      text-align: center;
    }
  }
  